.progress-bar-container {
    margin: 40px;
    margin-bottom: 60px;
    width: 100px;
    height: 100px;
    position: relative;
}

.device-name {
    font-family: Arial, Helvetica;
    font-size: 0.75rem;
    font-weight: 600;
    color: dimgrey;
    display:table;
    margin:0 auto;
    margin-top: 4px;
}

.charging-status {
    font-family: Arial, Helvetica;
    font-size: 0.6rem;
    font-weight: 600;
    color: darkgrey;
    display:table;
    margin:0 auto;
}

.time-of-check {
    font-family: Arial, Helvetica;
    font-size: 0.6rem;
    font-weight: 400;
    color: dimgrey;
    display:table;
    margin:0 auto;
}